@font-face {
    font-family: Poppins-Medium;
    src: url('../../../fonts/poppins/Poppins-Medium.ttf');
}

.specific-room-container {
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    background: url('https://w.wallhaven.cc/full/3l/wallhaven-3lepy9.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Medium;
}

/* Member Sidebar */

.member-sidebar
{
    background-color: rgba(49, 49, 49, 0.7);
    max-width: 250px;
    min-height: 90%;
    overflow-y: auto;
    border-radius: 10px;
    margin: 20px;
}

.member-sidebar::-webkit-scrollbar
{
    display: none;
}

.branch-title
{
    font-weight: bold;
    padding: 10px;
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    color: #ddd;
}

.host-container
{

}

.host-title-container 
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    gap: 15px;
}

.lock-icon
{
    width: 30px;
    height: 30px;
    color: #ddd;
}

.host-title {
    color: #ddd;
}

.host-info
{
    display: inline-flex;
    align-self: start;
    align-items: center;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.host-info:hover
{
    background: rgba(0, 0, 0, 0.5);
}

.host-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.host-name {
    color: #ddd;
}

.member-title-container
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    gap: 15px;
}

.member-title
{
    color: #ddd;
}

.member-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    width: 100%;
}

.member-object {
    display: inline-flex;
    align-self: start;
    align-items: center;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.member-object:hover
{
    background: rgba(0, 0, 0, 0.5);
}

.member-info {
    display: inline-flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    align-self: start;
    margin: 2px 0 10px 0;
    gap: 10px;

}

.member-avatar {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.member-name {
    color: #ddd;
}

.member-text
{
    color: #ddd;
    font-size: 12px;
    margin-left: 5px;
}

/* Room Content */

.room-content
{
    width: calc(100vw - 270px - 290px);
    min-height: 90%;
    border-radius: 10px;
    margin: 20px;
    background-color: rgba(49, 49, 49, 0.7);
    overflow-y: auto;
    position: relative;
}

.messages-board
{
    display: flex;
    flex-direction: column;
    width: calc(93% + 6px);
    height: 85%;
    margin: 20px;
    overflow-y: auto;

}

.chat-input {
    width: 96%;
    position: absolute;
    bottom: 0;
    margin: 20px;
}

.chat-input input {
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
}

.room-search-results-box ul {
    border-bottom: 1px solid #999;
    padding: 10px 10px 10px 20px;
}

.room-search-results-box ul .room-search-result {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    background: #fff;
}

.room-search-results-box ul .room-search-result:hover {
    background-color: #999;
}

.room-search-results-box ul .room-search-result img 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.room-search-result-info
{
    display: flex;
    flex-direction: column;
}

.room-search-result-info .room-search-result-name
{
    font-size: 16px;
    color: #000;
}

.room-search-result-info .room-search-result-artists {
    font-size: 12px;
    color: #000;
}
/* Track Queue */

.track-queue 
{
    width: 270px;
    background-color: rgba(49, 49, 49, 0.7);
    overflow-y: auto;
    min-height: 90%;
    border-radius: 10px;
    margin: 20px;
}

.track-queue::-webkit-scrollbar
{
    display: none;
}

.track-queue-sidebar
{
    background-color: bisque;
    max-width: 250px;
    min-height: 100%;
    overflow-y: auto;
}

.track-queue-sidebar::-webkit-scrollbar
{
    display: none;
}

.track-queue-title-container
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    gap: 15px;
}

.track-queue-title
{
    font-size: 20px;
    color: #ddd;
}

.track-queue-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    width: 100%;
}

.track-queue-object {
    display: inline-flex;
    align-self: start;
    align-items: center;
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    gap: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.track-queue-object:hover
{
    background: rgba(0, 0, 0, 0.5);
}

.track-queue-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-self: start;
    margin: 2px 0;

}

.track-queue-avatar {
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.track-queue-name {
    font-size: 18px;
    color: #ddd;
}

.track-queue-composer {
    font-size: 12px;
    color: #ddd;
}
