.email-confirm-page {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100vh;
    width: 100vw;
    background: url("https://w.wallhaven.cc/full/6d/wallhaven-6dzxkx.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

/* .email-confirm-img-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fee8d4;
    position: relative;
    
} */

.email-confirm-img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    z-index: 2;

}

.email-confirm-branch-title {
    position: absolute;
    font-size: 30px;
    z-index: 32;
    top: 0;
    left: 5%;
    color: #ddd;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.email-confirm-branch-title:hover {
    color: #ddd;
}

.email-confirm-container {
    width: 30%;
    height: 65%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background: #fff;
    border-radius: 10px;
}

.mail-confirm-icon 
{
    padding: 10px;
    object-fit: cover;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
    border: 3px solid #000;
    color: #000;

}

.email-confirm-container h1{
    font-size: 45px;
    margin: 0 auto;
}

.email-confirm-container .email-confirm-form-branch-title {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    margin: 0 auto;

}

.email-confirm-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 30px;
}

.email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 10px 0 20px 0;
}

.email-container .email-title {
    font-size: 20px;
}

.email-container .email-input {
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0;
    font-size: 16px;
    background: #ddd;
}





.new-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 10px 0 20px 0;

}

.new-password-container .new-password-title 
{
    font-size: 20px;
}

.new-password-input 
{
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0;
    border-radius: 30px;
    font-size: 16px;
    background: #ddd;
}

.confirm-new-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 20px 0;
}

.confirm-new-password-container .confirm-new-password-title {
    font-size: 20px;
}

.confirm-new-password-input {
    width: 100%;
    padding: 20px 20px;
    margin: 10px 0;
    border-radius: 30px;
    font-size: 16px;
    background: #ddd;
}

.email-confirm-btn {
    width: 100%;
    height: 50px;
    background: #f9a109;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s ease;
}