@font-face {
    font-family: Poppins-Medium;
    src: url('../../../fonts/poppins/Poppins-Medium.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.album-container {
    width: 100%;
    height: 360px;
    background-color: #090f1b;
    padding: 10px 0;
    overflow-y: hidden;
    overflow-x: auto;
    
}

.album-container .album-title {
    font-size: 30px;
    color: #fff;
    margin: 16px 0 20px 0;
    padding-left: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;

}

.album-container .album-title:hover
{
    transform: translateY(-5px);
}

.albums-list-container {
    overflow-x: auto; /* Allow horizontal scrolling */
    width: 100%; /* Ensure it takes full width */
    display: flex;
    justify-content: center;
    align-self: center;
    overflow-x: auto;
}

.albums-list {
    display: flex;
    align-items: center;
    gap: 15px;
    min-width: calc(100% - 40px);
    overflow-y: hidden;
    overflow-x: auto;
    margin: 10px;
    flex-wrap: nowrap;

}

.album {
    flex: 0 0 120px;
    scroll-snap-align: start;
    cursor: pointer;
    float: left;
    transition: 0.5s ease;
    padding: 12px;
    border-radius: 10px;
}

.album:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}

.album-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}

.album-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    margin: 5px;
}

.album-info h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    width: 120px; 
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.album-info p {
    font-size: 14px;
    color: #676b77;
    width: 120px; 
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}