@font-face {
    font-family: Poppins-Medium;
    src: url('../../fonts/poppins/Poppins-Medium.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-playlist-container {
    width: 100%;
    height: 360px;
    background-color: #090f1b;
    padding: 10px 0;
    overflow-y: hidden;
    overflow-x: auto;
    
}

.profile-playlist-container .profile-playlist-title {
    font-size: 30px;
    color: #fff;
    margin: 16px 0 20px 0;
    padding-left: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
}

.profile-playlist-container .profile-playlist-title:hover
{
    transform: translateY(-5px);
}

.profile-playlists-list-container {
    overflow-x: auto; /* Allow horizontal scrolling */
    width: 100%; /* Ensure it takes full width */
    display: flex;
    justify-content: center;
    align-self: center;
    overflow-x: auto;
}

.profile-playlists-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 15px;
    min-width: calc(100% - 40px);
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0 30px;
}

.profile-playlist {
    flex: 0 0 120px;
    scroll-snap-align: start;
    cursor: pointer;
    float: left;
    transition: 0.5s ease;
    padding: 12px;
    border-radius: 10px;
}

.profile-playlist:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-playlist-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-playlist-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.profile-playlist-info h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    text-align: center;

    width: 150px; 
    overflow: hidden; 
    white-space: nowrap;
}

.profile-playlist-info p {
    font-size: 14px;
    color: #676b77;
}

@media screen and (max-width: 768px) {
    .profile-playlist {
        flex-basis: calc(33.333% - 10px); /* Each item occupies around 1/3 of the container width */
    }
}

.profile-playlist:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-playlist-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-playlist-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.profile-playlist-info h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.profile-playlist-info p {
    font-size: 14px;
    color: #676b77;
}